.git
.github
.cache
docker
.husky
.insomnia
.vscode
coverage
dist
node_modules
docker-compose.*
.dockerignore
npm-debug.log
README.md
Dockerfile
Makefile
.prettierrc
.ncurc.json
.lintstagedrc.json
.gitignore
.eslintrc.json
.eslintignore
.editorconfig
tsconfig.build.json